---
import Comments from "@/components/comments";
import { Gakuen } from "@/components/gakuen";
import PageLayout from "@/layouts/page.astro";
---

<PageLayout post>
  <article class="prose-stone dark:prose-invert">
    <p>你好，我是 <span>柒宇</span>。</p>

    <p>每次自我介绍都会让我很为难，自己擅长什么、爱好是什么、优缺点是什么……认识自己好像还挺难的。但总之接下来是我想展示的自己。</p>

    <p>
      99 年出生的 00 后。职业算是一名前端工程师<sub>（待业中…）</sub>。业余喜欢偶尔搞点乱七八糟的项目，但大多都是挖坑不填的状态。常用的技术栈：
      <span class="flex gap-2 flex-wrap">
        <img src="https://img.shields.io/badge/TypeScript-3178C6?style=flat&logo=typescript&logoColor=white&labelColor=3178C6&borderRadius=50" alt="TypeScript" />
        <img src="https://img.shields.io/badge/Vue-4FC08D?style=flat&logo=vue.js&logoColor=white&labelColor=4FC08D&borderRadius=50" alt="Vue" />
        <img src="https://img.shields.io/badge/TailwindCSS-1572B6?style=flat&logo=tailwindcss&logoColor=white&labelColor=1572B6&borderRadius=50" alt="TailwindCSS" />
        <img src="https://img.shields.io/badge/Node.js-339933?style=flat&logo=nodedotjs&logoColor=white&labelColor=339933&borderRadius=50" alt="Node.js" />
        <img src="https://img.shields.io/badge/Go-00ADD8?style=flat&logo=go&logoColor=white&labelColor=00ADD8&borderRadius=50" alt="Golang" />
      </span>
      其他技术多少也会一点，不过如果自己做项目的话会更倾向上面这些。
    </p>

    <p>代码之外大概会更关注 UI/UX，想要设计出一款属于自己的产品。<s>（遥遥无期啊）</s></p>

    <p>二次元爱好者，喜欢动画、游戏、<a href="https://zh.moegirl.org.cn/%E5%9C%A3%E5%9C%B0%E5%B7%A1%E7%A4%BC">圣地巡礼</a>。对于一个文艺作品，会更关注其作品本身、会更关注其优点而非缺点。对于喜欢的事物表达欲很强，会写下观看、游玩后的感受。目前依旧还有每季度追新番的习惯，如果感兴趣的话可以在 <a href="https://bgm.tv/user/qiyuor2">Bangumi 个人空间</a> 看到相关动态。</p>

    <details>
      <summary>我的圣地巡礼地图（开发中）</summary>
      <ul class="mb-0">
        <li>吹响吧上低音号</li>
        <li>轻音少女</li>
        <li>四月是你的谎言</li>
        <li>BanG Dream! It's MyGO!!!!!</li>
        <li>孤独摇滚</li>
        <li>我心里危险的东西</li>
      </ul>
    </details>

    <details>
      <summary>自己尝试设计的学 mas 名片</summary>
      <p></p>
      <Gakuen client:load />
    </details>

    <p>有许多想要做的事情，也一直在持续学习中，会积极接纳了解到的新事物、新知识。偶尔对未来会有一些不切实际的幻想，但相比于虚无缥缈的未来，更想过好当下每一个瞬间。</p>

    <hr />

    <p>谢谢你看到这里，祝你有美好的一天。</p>
  </article>
  <Comments client:load />
</PageLayout>
