---
import PageLayout from '@/layouts/page.astro'
import ReactFlow from '@/components/board'
import { nodes, edges } from '@/common/data/flow'

const title = '画布'
---

<PageLayout title={`${title} | @柒宇`} >
  <div class="w-full h-[calc(100vh-var(--h-footer)-80px)]" >
    <ReactFlow nodes={nodes} edges={edges}  client:load />
  </div>
</PageLayout>