---
import MemoCard, { type MemoVO } from "../components/memo/card";
import PageLayout from "../layouts/Page.astro";
const memosFile: Record<string,{ default: MemoVO[] }> = import.meta.glob("../../memos/**/*.yaml", { eager: true });

const memos = Object
  .values(memosFile)
  .map((module) => module.default)
  .flat()
  .sort((a, b) => b.timestamp - a.timestamp);
---

<PageLayout post>
  <div class="text-dark-50 pt-4 min-h-100">
    <ul class="p-0 m-0">
      {memos.map((memo) => <li class="list-none"><MemoCard {...memo} /></li>)}
    </ul>
  </div>
</PageLayout>
