---
import BackTop from '@/components/back-top'
import Header from '@/components/header'
import GlobalStyles from './styles.astro'
import Head from './head.astro'
import ColorModeSwitch from '@/components/color-mode-switch'
import Navbar from '@/components/navbar'
import Analytics from '@vercel/analytics/astro'
import SpeedInsights from '@vercel/speed-insights/astro';
import Loading from '@/components/loading.astro'

const { title = '@柒宇', description, tags = [], post = false } = Astro.props
const { pathname } = Astro.url
---

<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <title>{title}</title>

    <Head description={description} keywords={tags.join(',')} />

    <link rel="sitemap" href="/sitemap-index.xml" />

    <Analytics />
    <SpeedInsights />

  </head>
  <body class="dark:bg-dark-900">
    <Header className="max-w-[65ch] px-7 xl:px-0">
      <ColorModeSwitch client:only="react" transition:persist />
    </Header>

    <Navbar currentPath={pathname} />

    <main class={post ? "prose dark:prose-invert mx-auto px-7 xl:px-0 overflow-hidden sm:overflow-visible" : ''} transition:animate="slide">
      <slot />
    </main>

    <footer class="box-border container mx-auto pt-5 h-[var(--h-footer)] text-[0.8rem] text-neutral-400 footer">
      <div class="mx-auto mb-2 text-center">
        <a class="footer-link"  href="https://creativecommons.org/licenses/by-nc-sa/4.0/">
          CC BY-NC-SA 4.0
        </a>
        <span class="ml-1.5">2019-PRESENT © </span>
        <a class="footer-link" href="https://github.com/QiYuOr2">
          QiYuOr2
        </a>
      </div>
      <div class="mx-auto mb-2 text-center">
        <span>Powered By </span>
        <a class="footer-link" href="https://github.com/QiYuOr2/blog">
          QiYu Blog
        </a>
      </div>
    </footer>


    <Loading />
    <BackTop client:load />
  </body>
</html>

<GlobalStyles></GlobalStyles>

