---
import Container from '../components/layouts/Container.vue'
import BackTop from '../components/BackTop.vue'
import GlobalStyles from './Styles.astro'
import Scripts from './Scripts.astro'
import Metas from './Metas.astro'

const { title = '@柒宇', description, tags = [] } = Astro.props
---

<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <title>{title}</title>

    <Metas description={description} keywords={tags.join(',')} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <Scripts />
  </head>
  <body>
    <Container>
      <slot />
    </Container>
    <BackTop client:load />
  </body>
</html>

<GlobalStyles></GlobalStyles>

