---
import Container from '../components/layouts/Container.vue'
import GlobalStyles from './Styles.astro'
import Scripts from './Scripts.astro'
import Metas from './Metas.astro'
---

<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <title>@柒宇</title>

    <Metas />
    
    <Scripts />
  </head>
  <body>
   <Container>
    <slot />
   </Container>
  </body>
</html>

<GlobalStyles></GlobalStyles>

