---
import Container from '../components/layouts/Container.vue'
import GlobalStyles from './Styles.astro'
import Scripts from './Scripts.astro'
---

<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <title>@柒宇</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <Scripts></Scripts>
  </head>
  <body>
   <Container>
    <slot />
   </Container>
  </body>
</html>

<GlobalStyles></GlobalStyles>

